In [4]:
import pandas as pd

## Series

In [5]:
ds = pd.Series([10,20,30,40])
ds

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
ds = pd.Series()
ds

Series([], dtype: object)

In [7]:
dis = {"A":200,"B":39992,"c":398492}
ds = pd.Series(dis,index=["A","B"])
ds

A      200
B    39992
dtype: int64

In [8]:
name = ["a","b","c","d"]
ds = pd.Series([10,20,30,40],index=name)
ds

a    10
b    20
c    30
d    40
dtype: int64

## DataFrame

In [9]:
# Series like Column
# Dataframe Like Table 
# Multiple Series makes Dataframe

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

ds = pd.DataFrame(data)
ds

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
print(ds.loc[0]) #used to get first row from dataframe

calories    420
duration     50
Name: 0, dtype: int64

In [11]:
df = pd.DataFrame(data, index=["d1","d2","d3"])
df

    calories  duration
d1       420        50
d2       380        40
d3       390        45

In [ ]:
df_csv = pd.read_csv("cust.csv",index=[])
df_csv

TypeError: read_csv() got an unexpected keyword argument 'index'